
@media (max-width: 1050px) {
	h3.financial-overview-item-value {
		font-size: 18px;
	}
	.property-slider-thumbnails-container .lSSlideOuter {
		margin-right: -39px;
	}
}

@media (max-width: 1000px) {

	.property-slider-thumbnails-container .lSSlideOuter {
		margin-right: -11px;
	}

}
